@import url(_reset.css);
img{
  display: block;
}
.test-header{
  display: flex;
  flex-wrap: wrap;
  width:100%;
  background-color: white;
  height: 100vh;
}
.test-header .left{
  width: 100%;
  height: 50%;
}
.test-header .left img{
  object-fit: fill;
  width: 100%;
  height: 100%;
}
 
  .test-header  .right{
      width: 100%;
      height: 50%;
  }
.test{
  display: flex;
  flex-wrap: wrap;
  width:100%;
  background-color: white;
  height: 100vh;
}
.test .left img{
  object-fit: fill;
  width: 100%;
  height: 100%;
}
.test .right img{
  object-fit: fill;
  width: 100%;
  height: 100%;
}
.test .left{
  width: 100%;
  height: 45%;
}
  .test .mid{
    width: 100%;
    height: 55%;
    background-color: violet;
    }
    .test  .right{
      width: 100%;
      height: 45%;
    }
.header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
body {
  background-color: antiquewhite;
}
.header-img {
  width: 100%;
  position: relative;
  z-index: 3;
}

.menu {
  padding: 7% 5%;
  position: absolute;
  top: 0;
  display: flex;
}
.logo {
  position: absolute;
  left: 40%;
}
.hamburger {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.close {
  cursor: pointer;
  display: none;
  z-index: 3;
}
nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: white;
}
nav ul {
  display: flex;
  margin: 0;
  width: 375px;
  padding: 30px 0;
}
nav ul li {
  margin-left: 45px;
  list-style-type: none;
  text-align: center;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

.header-txt {
  width: 100%;
  height: 360px;
  background-color: red;
}

@media screen and (min-width: 1024px) {
  .test-header{
    display: flex;
    flex-wrap: nowrap;
    width:100%;
    background-color: white;
    height: 65vh;
  }
  .test-header .left{
    width: 60%;
    height: 65vh;
    }
      .test-header  .right{
        width: 40%;
        height: 65vh;
      }
  .header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 65vh;
    background-color: aqua;
  }
  .test{
    display: flex;
    flex-wrap: nowrap;
    width:100%;
    background-color: white;
    height: 30vh;
  }
  .test .left{
    width: 30%;
    height: 35vh;
    }
    .test .mid{
      width: 40%;
      height: 35vh;
      background-color: violet;
      }
      .test  .right{
        width: 30%;
        height: 35vh;
      }
  .menu {
    padding: 2rem;
  }

  .hamburger {
    display: none;
  }

  nav {
    position: static;
    display: block;
    width: 40%;
    background-color: transparent;
  }
  nav ul {
    display: flex;
    justify-content: center;
    gap: 10%;
  }

  nav ul li {
    list-style-type: none;
    padding: 0;
  }

  nav ul li a {
    color: white;
  }
}
