@import url(_reset.css);
*{
  box-sizing: border-box;
}
img{
  display: block;
}
.test-header{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width:100%;
  background-color: white;
  height: 100vh;
  max-height: 800px;

}
.test-header .left{
  position: relative;
  width: 100%;
  height: 50%;
}
.test-header .left img{
  object-fit: fill;
  width: 100%;
  height: 100%;
}
 
  .test-header  .right{
      width: 100%;
      height: 50%;
      position: relative;
      text-align: center;
      display: flex;
      justify-content: center;
      overflow: hidden;
  }
  .header-text{
    text-align: left;
    margin: auto;
    display: block;
    margin: auto;
    text-align: left;
    line-height: 2;
    max-width: 400px;
  }
  .change-text-header{
    line-height: 45px;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 35px;
  }
  .change-text{
    font-size: 12px;
    color: hsl(0, 0%, 63%);
  }
  .arrow{
    margin-left: 40px;
  }
  .shop{
    display: flex;
    font-size: 12px;
    margin-top: 25px;
  }
  .shop-text{
    text-transform: uppercase;
    letter-spacing: 15px;
  }
.test{
  display: flex;
  flex-wrap: wrap;
  width:100%;
  background-color: white;
  height: 100vh;
  max-height: 500px;
}
.test .left img{
  object-fit: fill;
  width: 100%;
  height: 100%;
}
.test .right img{
  object-fit: fill;
  width: 100%;
  height: 100%;
}
.test .left{
  width: 100%;
  height: 45%;
}
  .test .mid{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 55%;
    background-color: white;
    overflow: hidden;
    }
    .test  .right{
      width: 100%;
      height: 45%;
    }
.header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
body {
  background-color: white;
  font-family: 'Spartan', sans-serif;}


.menu {
  display: none;
  position: absolute;
  top: 0%;
  display: flex;
  height: 10vh;
  width: 100%;
  z-index: 1;
}
.mobile-menu{
  position: absolute;
  top:9%;
  left: 10%;
  z-index: 3;

}
.logo {
  position: absolute;
  top:9%;
  left: 43%;
}
.hamburger {
  cursor: pointer;
  display: inline-block;
  z-index: 3;

}
.close {
  cursor: pointer;
  display: none;
  z-index: 3;
}
nav {
  display: none;
  position: relative;
  z-index: 1;
  max-width: 400px;
  width: 100%;
  height: 100%;
  background-color: white;
}
nav ul {
  position: absolute;
  right: 0%;
  display: flex;
  font-size: 11px;
  text-transform: lowercase;
}
nav ul li {
  margin-top: 40px;
  padding: 0 15px;
  list-style-type: none;
  text-align: center;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

.header-txt {
  width: 100%;
  height: 360px;
  background-color: red;
}
.button{
  display: none;
}
.button-mobile{
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
}
.button-mobile .arrow-left{
background-color: black;
padding: 25px 35px;
}
.button-mobile .arrow-right{
  background-color: black;
  padding: 25px 35px;
}
.about-text{
  color: hsl(0, 0%, 63%);
  text-align: left;
    margin: auto;
    display: block;
    margin: auto;
    text-align: left;
    line-height: 2;
    max-width: 400px;
    font-size: 12px;
}
.about-text :nth-child(1){
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;
  padding-bottom:  9px;
}
@media screen and (min-width: 1024px) {
  .button-mobile{
    display: none;
  }
  .close {
    display: none;
  }
  .test-header{
    display: flex;
    flex-wrap: nowrap;
    width:100%;
    background-color: white;
    height: 65vh;
  }
  .test-header .left{
    width: 60%;
    height: 65vh;
    }
      .test-header  .right{
        width: 40%;
        height: 65vh;
      }
  .header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 65vh;
    background-color: aqua;
  }
  .test{
    display: flex;
    flex-wrap: nowrap;
    width:100%;
    background-color: white;
    height: 30vh;
  }
  .test .left{
    width: 30%;
    height: 35vh;
    }
    .test .mid{
      width: 40%;
      height: 35vh;
      background-color: white;
      }
      .test  .right{
        width: 30%;
        height: 35vh;
      }
  .hamburger {
    display: none;
  }

  nav ul li {
   
    list-style-type: none;
    padding: 0;
  }

  nav ul li a {
    color: white;
  }
  .button{
    display: flex;
    position: absolute;
    right: 0;
    left: 0;
    bottom:0;
  }
  .button .arrow-left{
  background-color: black;
  padding: 25px 34.5px;
  }
  .button .arrow-right{
    background-color: black;
    padding: 25px 34.5px;
  }
  .menu {
    position: absolute;
    top:2.5%;
    display: flex;
    height: 10vh;
    width: 100%;
    z-index: 1;
    left: 7%;
  }
 
  .logo {
    position: absolute;
    top:9%;
    left: 10%;
  }
  nav {
    display: block;
    width: 40%;
    background-color: transparent;
    z-index: 1;
    max-width: 400px;
    width: 100%;
    height: 100%;
  }
  nav ul {
    display: flex;
    font-size: 12px;
    text-transform: lowercase;
  }
  nav ul li {
    margin-top: 40px;
    padding: 0 15px;
    list-style-type: none;
    text-align: center;
  }
  .mobile-menu{
    display: none;
  }
 
}
